# See http://help.github.com/ignore-files/ for more about ignoring files.


# dependencies
/node_modules
/ignore
/laravel-jwt-auth
/startbootstrap-sb-admin-2-gh-pages

# System Files
.DS_Store
Thumbs.db
